.gallery {
  --indent: 24px;
  --items: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--indent);

  max-width: 1158px;
  padding: 0 15px;
  margin: 48px auto;
}

.gallery .photo-card {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  display: flex;
  flex-direction: column;
  outline: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  transition: box-shadow var(--transition-base);
  overflow: hidden;
}

.gallery .photo-card:hover {
  box-shadow: 0 1px 5px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
}

.photo-card img {
  height: 250px;
  object-fit: cover;
}

.photo-card .info {
  display: flex;
  gap: 4px;
  padding: 12px;
  justify-content: space-between;
}

.photo-card .info-item {
  text-align: center;
  font-size: 12px;
}
