.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
}

.nav {
  flex: 0 0 auto; /* Залишити розмір навігації */
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link.active {
  color: #0915ee;
}
