/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./gallery.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --transition-base: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  display: none !important;
}

.btn {
  border: none;
  outline: none;
  border-style: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 4px 16px;
  font-size: 16px;
}

input {
  border: none; /* За бажанням: видалити обведення */
  border-style: none;
  max-width: 260px;
  padding: 4px 16px;
  border-radius: 4px;
  font-size: 18px;
  height: 40px;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
}

.search-form-container {
  display: flex;
  justify-content: center;
  background-color: #747bff;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-btn {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-form input[name='searchQuery'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn.loading span {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-bottom-color: #242424;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.btn.loading .icon {
  display: none;
}

.btn.load-more {
  background-color: #747bff;
  text-transform: uppercase;
  padding: 8px 16px;
  color: #fff;
  height: 40px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more {
  margin: 16px auto;
}
